{% extends 'pagina.html.twig' %}

{% block cuerpo %}
<article class = "center-align section">
    <a class="btn" href="../Controller/indexUsuario.php">USUARIOS</a>
    <a class="btn" href="../Controller/indexCliente.php">CLIENTES</a>
</article>
{% endblock %}
